:root {
    --primary-color: #28a745;
    --navbar-height: 56px;
}

/*
    Pseudo class modification necessary to navigate in the document with a fixed navigation bar.
    More info:
    http://darktef.github.io/posts/2017-03-offset-html-anchors-for-fixed-header-with-css
*/
:target {
    display: block;
    position: relative;
    top: calc(-1 * var(--navbar-height));
    visibility: hidden;
}

@media screen and (max-width: 992px) {
    main {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

@media screen and (min-width: 992px) {
    main {
        padding-left: 15vw;
        padding-right: 15vw;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: #e6e6e6;
    font-family: 'Lato', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 175%;
}

h2 {
    font-size: 140%;
}

h3 {
    font-size: 100%;
}

main {
    /*
    position: absolute;
    top: 20vh;
    */
    position: relative;
    top: -30vh;
}

footer {
    height: 30vh;
}

.classHeadingUnderlining {
    border-bottom-width: 5px solid;
    border-bottom-style: solid;
}

.dropdown-item:active, .dropdown-item.active {
    background-color: var(--primary-color);
}

.progress-bar {
    transition: all 1s ease-out 0.25s;
    width: 0%;
}

.classSoftwareProjectContainer {
    transition: all 0.5s ease-out;
    transform: scale(0,0);
}

.classSoftwareProjectContainer.active {
    transform: scale(1,1);
}

#idBackgroundPicture {
    margin-top: var(--navbar-height);
    height: 60vh;
    background-image: url("../assets/images/background-4000x2476.jpg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#idProfilePicture {
    max-width: 200px;
    max-height: 200px;
}

#idAboutMeSectionContainer, #idSystemsAndNetworksAdministrationSectionContainer {
    transition: all 0.5s linear 0.25s;
    transform: translatey(100px);
    opacity: 0;
}

#idAboutMeSectionContainer.active, #idSystemsAndNetworksAdministrationSectionContainer.active {
    transform: translatey(0);
    opacity: 1;
}

.classProgressBar95.active {
    width: 95%;
}

.classProgressBar90.active {
    width: 90%;
}

.classProgressBar85.active {
    width: 85%;
}

.classProgressBar80.active {
    width: 80%;
}

.classProgressBar75.active {
    width: 75%;
}

.classProgressBar70.active {
    width: 70%;
}

.classProgressBar65.active {
    width: 65%;
}

.classProgressBar60.active {
    width: 60%;
}

.classProgressBar55.active {
    width: 55%;
}

.classProgressBar50.active {
    width: 50%;
}

.classLogoImage {
    width: 144px;
    height: 144px;
}

.classLogoImage2 {
    width: 256px;
    height: 256px;
}

.classIdesAndToolsContainer {
    transition: all 0.8s ease-in-out;
    transform: scale(1,0);
    opacity: 0;
}

.classIdesAndToolsContainer.active {
    transform: scale(1,1);
    opacity: 1;
}

.classVirtualizationAndEmulationContainer {
    transition: all 0.8s ease-in-out;
    transform: scale(1,0);
    opacity: 0;
}

.classVirtualizationAndEmulationContainer.active {
    transform: scale(1,1);
    opacity: 1;
}